<%= image_tag 'title_card.jpg', class: 'title-card' %>
<p class="subtitle">Ages 7+ | 4 - 16 players | 30 mins</p>

<%= form_with local: true, url: users_path do |form| %>
  <turbo-frame id="flash"> </turbo-frame>

  <% if params[:referrer] %>
    <%= hidden_field_tag :referrer, params[:referrer] %>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'input-width' %>
  </div>

  <div class="actions">
    <%= form.submit "Go!" %>
  </div>
<% end %>
