<turbo-frame id="<%= dom_id(sub_turn) %>">
  <div data-turn-target="words" class="words" data-sub-turn-id="<%= sub_turn.id %>">
    <turbo-frame id="<%= dom_id(sub_turn, :easy) %>" class="card-container">
      <%= render partial: 'turns/word', locals: { word: sub_turn.easy_word, difficulty: :easy, scored: sub_turn.score == 1 || sub_turn.score == 4, unclickable: player_type == :judge } %>
    </turbo-frame>

    <turbo-frame id="<%= dom_id(sub_turn, :hard) %>" class="card-container">
      <%= render partial: 'turns/word', locals: { word: sub_turn.hard_word, difficulty: :hard, scored: sub_turn.score == 3 || sub_turn.score == 4, unclickable: player_type == :judge } %>
    </turbo-frame>
  </div>

  <div data-turn-target="skip" class="skip-container">
    <% if player_type == :current %>
      <div class="hidden" data-skip-type="pass">
        <h5>You can pass without penalty:</h5>
        <button class="pass-button" data-action="click->turn#skip">NEXT</button>
      </div>

      <div class="hidden" data-skip-type="skip">
        <h5>You can skip the words but lose a point:</h5>
        <button class="skip-button" data-action="click->turn#skip">SKIP (-1)</button>
      </div>
    <% else %>
      <div data-skip-type="bonk">
        <h5>Bonk the player if they broke the rules:</h5>
        <button class="skip-button" data-action="click->turn#skip" data-turn-skip-param="bonk">BONK!</button>
      </div>
    <% end %>
  </div>

  <% if bonk %>
    <div data-turn-target="bonk" class="bonk invisible">BONK!</div>
  <% end %>
</turbo-frame>
