<h1> Game has ended! </h1>

<% if game.mad_score == game.glad_score %>
  <h2> It's a TIE! Both teams score a total of <strong><%= game.mad_score %></strong> points! </h2>
<% elsif game.mad_score > game.glad_score %>
  <h2> <span class="team-mad-heading">Team Mad</span> wins with <%= game.mad_score %> points! </h2>
<% else %>
  <h2> <span class="team-glad-heading">Team Glad</span> wins with <%= game.glad_score %> points! </h2>
<% end %>

<h5 class="team-mad-heading">Team Mad <%= '(Winner)' if game.mad_score >= game.glad_score %></h5>
<table class="player-list u-full-width scoring-table">
  <thead>
    <tr>
      <td><strong>Name</strong></td>
      <td><strong>Easy Words (+1)</strong></td>
      <td><strong>Hard Words (+3)</strong></td>
      <td><strong>Score</strong></td>
    </tr>
  </thead>
  <tbody>
    <% game.players.select { |p| p[:team] == :mad }.each do |player| %>
      <tr>
        <td><%= player[:name] %></td>
        <td><%= player[:easy_count] %></td>
        <td><%= player[:hard_count] %></td>
        <td><%= player[:score] %></td>
      </tr>
    <% end %>
    <tr>
      <td><strong>Total</strong></td>
      <td><strong><%= game.players.sum { |p| p[:team] == :mad ? p[:easy_count] : 0 } %></strong></td>
      <td><strong><%= game.players.sum { |p| p[:team] == :mad ? p[:hard_count] : 0 } %></strong></td>
      <td><strong><%= game.mad_score%></strong></td>
    </tr>
  </tbody>
</table>


<h5 class="team-glad-heading">Team Glad <%= '(Winner)' if game.glad_score >= game.mad_score %></h5>
<table class="player-list u-full-width scoring-table">
  <thead>
    <tr>
      <td><strong>Name</strong></td>
      <td><strong>Easy Words (+1)</strong></td>
      <td><strong>Hard Words (+3)</strong></td>
      <td><strong>Score</strong></td>
    </tr>
  </thead>
  <tbody>
    <% game.players.select { |p| p[:team] == :glad }.each do |player| %>
      <tr>
        <td><%= player[:name] %></td>
        <td><%= player[:easy_count] %></td>
        <td><%= player[:hard_count] %></td>
        <td><%= player[:score] %></td>
      </tr>
    <% end %>
    <tr>
      <td><strong>Total</strong></td>
      <td><strong><%= game.players.sum { |p| p[:team] == :glad ? p[:easy_count] : 0 } %></strong></td>
      <td><strong><%= game.players.sum { |p| p[:team] == :glad ? p[:hard_count] : 0 } %></strong></td>
      <td><strong><%= game.glad_score%></strong></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Return to Home', new_game_path, data: { turbo: false } %>
