<% last_turn = game.turns.last %>
<% last_player = game.last_player %>

<h1> Time's up! </h1>

<p> <%= last_player[:name] %> scored the following words: </p>
<table class="turn-score u-full-width">
  <tbody>
    <% last_turn.sub_turns.each do |sub_turn| %>
      <tr class="<%= sub_turn.score < 0 ? 'negative' : '' %>" >
        <td <%= 'class=scored' if sub_turn.score == 1 || sub_turn.score == 4 %>> <%= sub_turn.easy_word %> </td>
        <td <%= 'class=scored' if sub_turn.score == 3 || sub_turn.score == 4 %>> <%= sub_turn.hard_word %> </td>
        <td> <%= sub_turn.score %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p> <%= last_player[:name] %> scored a total of <strong><%= last_turn.total_score %></strong> points! Team <%= last_player[:team].to_s.capitalize %> now has a total score of <strong><%= last_player[:team] == :mad ? game.mad_score : game.glad_score %></strong> points! </p>

<p> The next player is: <strong><%= game.next_players[0][:name] %></strong>.
<p> The judge is: <strong><%= game.next_players[1][:name] %></strong>.

<div data-game-target="startButton" class="<%= 'hidden' if !(defined?(user_id) && game.host == user_id) %>" >
  <p> When the participants ready, click the button below to pass the game to them: </p>

  <%= form_with url: start_game_path(code: game.code) do |form| %>
    <%= form.submit 'Continue!' %>
  <% end %>
</div>
