<h1>Game Wait</h1>

<div>
  <div class="lobby-label">Share this code with your friends:</div>
  <div class="code-wrapper">
    <strong><%= game.code %></strong>
    <button class="copy-button" aria-label="Copy Code" data-game-target="copyButton" data-action="game#copy" data-game-code-param="<%= game.code %>">
      <!-- Simple Copy SVG Icon -->
      <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
        <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
      </svg>
    </button>
  </div>
</div>

<p class="subtitle mb-0">
  <%= pluralize(game.rounds, 'round') %> | <%= game.time_per_turn / 1000 %> s
</p>

<h5><strong>Cave:</strong></h5>
<div>
  <% if !players || players.empty? %>
    <p>There are no players in this game yet.</p>
  <% else %>
    <ol>
      <% players.each do |player| %>
        <li data-game-target="player" data-player-id="<%= player[:id] %>">
          <%= "#{player[:name]}" %> <%= link_to 'X', remove_player_game_path(code: game.code, player_id: player[:id]), class: 'remove-link', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
        </li>
      <% end %>
    </ol>
  <% end %>
</div>
