<h2> Game is starting! </h2>
<p> Here are the teams: </p>
<table class="player-list u-full-width">
  <tbody>
    <% game.players.each do |player| %>
      <tr data-game-target="player" data-player-id="<%= player[:id] %>">
        <td class="player-team-<%= player[:team] %>"> <%= "#{player[:name]} (#{player[:team] == 1 ? 'Team Mad' : 'Team Glad'})" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p> Please sit in a circle in this order! We'll start with player: <strong><%= game.players.first[:name] %></strong></p>

<div data-game-target="startButton" class="<%= 'hidden' if !(defined?(user_id) && game.host == user_id) %>" >
  <p> If everyone is ready, start the game with this button:</p>

  <%= form_with url: start_game_path(code: game.code) do |form| %>
    <%= form.submit 'Start Game!' %>
  <% end %>
</div>
