<div
  data-controller="turn"
  data-turn-player-id-value="<%= turn.player_id %>"
  data-turn-judge-id-value="<%= turn.judge_id %>"

  data-turn-timer-value="<%= game.time_per_turn %>"

  data-turn-score-url-value="<%= score_game_turn_path(game.code, turn) %>"
  data-turn-unscore-url-value="<%= unscore_game_turn_path(game.code, turn) %>"
  data-turn-skip-url-value="<%= skip_game_turn_path(game.code, turn) %>"
>
  <div data-turn-target="currentView" class="hidden">
    <%= render partial: 'turns/current', locals: { turn: turn } %>
  </div>

  <div data-turn-target="otherView" class="hidden">
    <%= render partial: 'turns/other' %>
  </div>
</div>
