<h1>🧌 <%= @user_name %> </h1>
<div data-controller="join">
  <div class="join-container">
    <div data-join-target="newBtn">
      <a href="#" class="button" data-action="join#newGame:prevent">New Game</a>
    </div>

    <div data-join-target="createForm" class="hidden">
      <h4>Game Rules</h4>
      <%= form_for @game, local: true, url: games_path, class: 'no-margin' do |f| %>
        <turbo-frame id="flash"> </turbo-frame>

        <%= f.label :rounds %>
        <%= f.number_field :rounds %>

        <%= f.label :time_per_turn, 'Time per turn (sec)' %>
        <%= f.number_field :time_per_turn, value: (@game.time_per_turn / 1000) %>

        <%= f.label :word_theme, 'Word Theme' %>
        <%= f.select :word_theme, [['Default Words', 'default'], ['Filipino-themed', 'filipino']], prompt: 'Select a theme' %>

        <div class="actions">
          <%= f.submit 'Start Game', class: 'button' %>
          <a href="#" class="button" data-join-target="cancel" data-action="join#cancel:prevent">Back</a>
        </div>
      <% end %>
    </div>

    <div>
      <a href="#" class="button" data-join-target="putCode" data-action="join#join:prevent">Put Code</a>
    </div>

    <div data-join-target="joinForm" class="hidden join-form">
      <div>
        <input type="text" class="input-width" data-join-target="code" data-action="join#upcase keydown.enter->join#join:prevent" placeholder="Put Game Code">
      </div>
      <a href="#" class="button" data-action="join#joinGame:prevent">Join Game</a>
      <a href="#" class="button" data-join-target="cancel" data-action="join#cancel:prevent">Back</a>
    </div>

    <div>
      <%= link_to 'How to Play', guides_path, class: 'button', data: { 'join-target': 'help' } %>
    </div>

    <div>
      <%= link_to 'Me want new name', users_path, class: 'button logout', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?', 'join-target': 'logout' } %>
    </div>
  </div>
</div>
