<%= render layout: 'layouts/container' do |game| %>

  <turbo-frame id="<%= dom_id(@game, :players) %>">
    <%= render partial: 'lobby/players', locals: { game: @game, players: @game.players } %>
  </turbo-frame>

  <% unless @game.waiting? %>
    <button class="reconnect-button" data-action='game#reconnect'>Reconnect</button>
  <% end %>

  <%= form_with url: ready_game_path(code: @game.code), html: { class: ('hidden' unless @game.host == @user_id) } do |form| %>
    <%= form.submit 'Go!', data: { action: 'game#ready' } %>
  <% end %>
<% end %>
